/*
 * Điều chỉnh style của các ô Grid
 */

h3 {
    margin-top: 2rem;
}

.row {
    margin-bottom: 1rem;
    /* -webkit-box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 5rem rgba(0, 0, 0, .5); */
}

.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}

[class*="col-"] {
    border: 1px transparent rgba(86, 61, 124, .2);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}